manifest {
  name = 'FluReD'
  author = 'Alejandra González-Sánchez & Ignasi Prats'
  homePage = 'https://github.com/[UPDATE]'
  description = 'InFLUenza REassortment Detection program'
  mainScript = 'flured.nf'
  version = '4.1'
}

params {

  help = null
  version = null
  fluType = null
  outdir = null
  fasta =  null
  Npercent = 0.05
  chunk = 100
  segments = 'all'

}

